/* .classe_categoria{
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 15px;
    margin: 5px 0;
    white-space: nowrap;
} */


.classe_categoria{
        display: inline-block;
        white-space: nowrap;
        padding: 5px;
        margin: 5px;
        border: 5px solid;
        border-radius: 5px;
        font-weight: bold;
        color: rgb(0, 0, 0) !important;

}


.Ação{
    border-color: #FF0000;
    color: white;
}
.Aventura{
    border-color: #FF8000;;
    color: white;
}
.Terror{
    border-color: #660066;;
    color: white;
}
.Fantasia{
    border-color: #0066CC;;
    color: white;
}
.Humor{
    border-color: #919100;
    color: white;
}
.Ficção{
    border-color: #00FF00;
    color: white;
}
.Romance{
    border-color: #FF99CC;
    color: white;
}
.Conto{
    border-color:#9900CC;
    color:white;
}
/* jhfdsaygtysafasytdfsatdf */

.Apocalipse{
    border-color: #333333;
    color:white;
}
.Distopia{
    border-color: #669999;
    color:white;
}
.Suspense{
    border-color:#331436;
    color:white;
}
.Policial {
    border-color: #336699;
    color:white;
}
.Horror{
    border-color: #993333;
    color:white;
}
.Drama{
    border-color:#990000;
    color:white;
}
.Ficçãohistórica{
    border-color:#CC6600;
    color:white;
}
.LGBTQ{
    border-color:#FF99FF;
    color:white;
}
.Biografia{
    border-color: #996633;
    color:white;
}
.Nãoficção{
    border-color:#666600;
    color:white;
}
.Gastronomia{
    border-color: #FF6600;
    color:white;
}
.Auto-ajuda{
    border-color:#00CC00;
    color:white;
}
.ArteeFotografia{
    border-color:#FFCC00;
    color:white;
}
.Histórico{
    border-color: #CC9900;
    color:white;
}
.Crimesreais{
    border-color: #663300;
    color:white;
}
.Artesmarciais{
    border-color:#FF3399;
    color:white;
}
.Viagem{
    border-color:#00CCCC;
    color:white;
}
.Religião{
    border-color:#CC33FF;
    color:white;
}
.Faroeste{
    border-color: #996600;
    color:white;
}
.TecnologiaeCiência{
    border-color: #66CCFF;
    color:white;
}
.RPG{
    border-color: #9900FF;
    color:white;
}
.Guerra{
    border-color: #CC0000;
    color:white;
}
.Poesia{
    border-color:#FF00FF;
    color:white;
}
.Pós-Apocalipse{
    border-color: #666666;
    color:white;
}
.ViagemnoTempo{
    border-color:#0033CC;
    color:white;
}
.SteamPunk{
    border-color: #9966CC;
    color:white;
}
.Cyberpunk{
    border-color: #00FFCC;
    color:white;
}
.Espaçosideral{
    border-color:#003333;
    color:white;
}
.Mistério{
    border-color: #330099;
    color:white;
}
.Investigação{
    border-color:#000099;
    color:white;
}
.Ficçãofeminina{
    border-color:#AC8491;
    color:white;
}
.Medieval{
    border-color:#663333;
    color:white;
}
.Orientemédio{
    border-color:#CC6633;
    color:white;
}
.Samurai{
    border-color:#CC6600;
    color:white;
}
.Isekai{
    border-color:#33CCCC;
    color:white;
}
.Tensei{
    border-color:#3399FF;
    color:white;
}

.Erótico{
    border-color:#FF3366;
    color:white;
}

.RealismoMágico{
    border-color:#CC99FF;
    color:white;
}

.Conto{
    border-color:#B12B24;
    color:white;
}

.Magia{
    border-color:#9933FF;
    color:white;
}

.Artigoacâdemico{
    border-color:#999966;
    color:white;
}

.Saúdeebemestar{
    border-color:#66CC00;
    color:white;
}

.Cultivação{
    border-color:#66FF66;
    color:white;
}
.Dorama{
    border-color:#FF9966;
    color:white;
}
.Dramapolicial{
    border-color:#663366;
    color:white;
}
/* sfsafsf */
.Paranormal{
    border-color:#6633FF;
    color:white;
}
.Comédia{
    border-color:#FFFF33;
    color:white;
}
.Novel{
    border-color:#FFCC33;
    color:white;
}
.Jogos{
    border-color:#FF3333;
    color:white;
}
.Alienígena{
    border-color:#00FF99;
    color:white;
}
.Mercenário{
    border-color:#996666;
    color:white;
}
.Fanfic{
    border-color:#CC33CC;
    color:white;
}